<!-- section:financiación-recibida -->
<div ng-controller="financiacion-recibidaController" class="o-hidden" id="financiación-recibida">
	<div ng-init="initSeccion()">
		<div class="container-loading" ng-hide="loading">
			<div class="container-balls">
				<div class="ball"></div>
				<div class="ball"></div>
				<div class="ball"></div>
				<div class="ball"></div>
				<div class="ball"></div>
				<div class="ball"></div>
				<div class="ball"></div>
			</div>
		</div>

		<div class="container container__main" ng-show="loading">
			<div class="container-fluid">
            	<h1 class="color-font-5">Financiacion recibida</h1>
				<div ng-bind-html="data.content"></div>
			</div>
		</div>
	</div>
</div>
<!-- section:financiación-recibida-END -->