<!-- section:junta-directiva -->
<div ng-controller="junta-directivaController" class="o-hidden" id="junta-directiva">
	<div ng-init="initSeccion()">
		<div class="container-loading" ng-hide="loading">
			<div class="container-balls">
				<div class="ball"></div>
				<div class="ball"></div>
				<div class="ball"></div>
				<div class="ball"></div>
				<div class="ball"></div>
				<div class="ball"></div>
				<div class="ball"></div>
			</div>
		</div>

		<div class="container container__main" ng-show="loading">
			<div class="container-fluid">
            	<h1 class="color-font-5">Junta directiva</h1>
				<div ng-bind-html="data.content"></div>
			</div>
		</div>
	</div>
</div>