<!-- section:publicacion -->
<div class="o-hidden" id="publicacion">
		<div class="container container__main" >
			<div class="container-fluid">
            	<h1 class="color-font-5 mb-0">{{data.title}}</h1>
            	<h1 class="mt-0">{{data.subtitle}}</h1>
            	<p class="mt-0 mb-0">{{data.created_at}}</p>
				<div class="info_data">
					<span>{{data.section.name}}</span> <span>{{data.category.name}}</span> <span>{{data.subcategory.name}}</span>
				</div>
				<div ng-bind-html="data.content"></div>
			</div>
		</div>
</div>
<!-- section:publicacion-END<