<!-- section:contactanos -->
<div ng-controller="contactanosController" class="o-hidden" id="contactanos">
	<div ng-init="initSeccion()">


		<div class="container container__main" >
			<div class="container-fluid relative">
            	<h1 class="color-font-5 title">Contactanos</h1>
			    	<div class="social">
					    <ul ng-init="redes()">
					        <li ng-repeat="rede in redes"><a href="{{rede.value}}" target="_blank"><i class="fa fa-lg fa-{{rede.name}}"></i></a></li>
					    </ul>
					</div>
            		<div ng-repeat="item in data">
						<h2>{{item.name}}</h2>
						<div class="container_direccion">
							<p>{{item.address}}</p>
							<a href="tel:{{item.phone}}">{{item.phone}}</p>
							<a href="mailto:{{item.email}}">{{item.email}}</p>
						</div>
	            	</div>
			</div>
		</div>
	</div>
</div>
<style>
	.social{
		position: absolute;
		right: 0;
		top: 20px;
	}

	@media screen and (max-width: 503px) {
		.title{
			margin-bottom: 0px;
		}
		.social{
			top: 0px;
			margin: 0px;
			position: relative;
		}
	}
</style>
<!-- section:contactanos-END -->