<!-- section:noticias -->
<div class="o-hidden" id="noticias">
    <div class="container container__main"  >
        <div class="container-fluid">
            <h1 class="color-font-5">Noticias</h1>
			<div id="columns" data-columns  ng-repeat="item in data">
				<article class="card_blog">
					<div class="card__wrapper">
						<a ui-sref="publicacion({id: item.id})">
						    <figure class="card__feature">
						      <img src="{{base_img}}{{item.image}}" class="card__img" alt="waves" width="275" height="240">
						    </figure>

						    <div class="card__box">

						      <header class="card__item card__header">
						        <h6 class="card__item card__item--small card__label">{{item.created_at}}</h6>
						        <h2 class="card__item card__item--small card__title">{{item.title}}</h2>
						      </header>

						      <hr class="card__item card__divider">

						      <section class="card__item card__body">
						        <p>{{item.subtitle}}</p>
						      </section>

						    </div>
						</a>
					</div>
				</article>
			</div>
		</div>
	</div>
	<!-- salvattore -->
	<script src="js/salvattore/salvattore.min.js"></script>
</div>
<!-- section:publicacion-END<