#publicacion{	
	.container__main .info_data{
		position: relative;
		margin-bottom: 10px;
		margin-top: 0px;
	}
	.container__main .info_data span{
		background: #333;
		color: white;
		border-radius: 5px;
		padding-right: 5px;
		padding-left: 5px;
	}
}